# Supply Chain Preparation

## Import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import FixedLocator, MaxNLocator

## Settings

In [2]:
pd.set_option('display.max_rows', 20)

%matplotlib inline

## Import data

In [3]:
%store -r sc_dataframes

In [4]:
sc_dataframes.keys()

dict_keys(['dim_customer', 'dim_market', 'dim_product', 'fact_forecast_monthly', 'fact_sales_monthly', 'freight_cost', 'gross_price', 'manufacturing_cost', 'post_invoice_deductions', 'pre_invoice_deductions'])

In [5]:
# Create dataframes from dictionary

sc_dim_customer = sc_dataframes['dim_customer'].copy()
sc_dim_market = sc_dataframes['dim_market'].copy()
sc_dim_product = sc_dataframes['dim_product'].copy()
sc_fact_forecast_monthly = sc_dataframes['fact_forecast_monthly'].copy()
sc_fact_sales_monthly = sc_dataframes['fact_sales_monthly'].copy()
sc_freight_cost = sc_dataframes['freight_cost'].copy()
sc_gross_price = sc_dataframes['gross_price'].copy()
sc_manufacturing_cost = sc_dataframes['manufacturing_cost'].copy()
sc_post_invoice_deductions = sc_dataframes['post_invoice_deductions'].copy()
sc_pre_invoice_deductions = sc_dataframes['pre_invoice_deductions'].copy()

## Optimize datatypes

### sc_dim_customer

In [6]:
sc_dim_customer.head(10)

             customer market        platform   channel customer_code
0    Electricalsocity  India  Brick & Mortar  Retailer      90002012
1  Electricalslytical  India  Brick & Mortar  Retailer      90002013
2                Ebay  India      E-Commerce  Retailer      90002010
3     Atliq Exclusive  India  Brick & Mortar  Retailer      90002011
4          Expression  India  Brick & Mortar  Retailer      90002014
5     AltiQ Exclusive  India  Brick & Mortar    Direct      70002017
6       Atliq e Store  India      E-Commerce    Direct      70002018
7              Propel  India  Brick & Mortar  Retailer      90002015
8             Amazon   India      E-Commerce  Retailer      90002016
9               Ezone  India  Brick & Mortar  Retailer      90002003

In [7]:
# check memory usage by column

sc_dim_customer.memory_usage(deep=True)

Index              132
customer         14138
market           13395
platform         14603
channel          13520
customer_code    13585
dtype: int64

In [8]:
# check datatypes

sc_dim_customer.dtypes

customer         object
market           object
platform         object
channel          object
customer_code    object
dtype: object

In [9]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_customer['customer'].nunique())
sc_dim_customer['customer'].value_counts()

76

Amazon             25
Atliq e Store      24
AltiQ Exclusive    16
Expert              5
Euronics            4
                   ..
Otto                1
Notebillig          1
BestBuy             1
Circuit City        1
Taobao              1
Name: customer, Length: 76, dtype: int64

In [10]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_customer['market'].nunique())
sc_dim_customer['market'].value_counts()

27

India             18
USA               15
Portugal          12
Spain             11
United Kingdom    11
                  ..
China              3
Mexico             2
Brazil             2
Chile              2
Columbia           1
Name: market, Length: 27, dtype: int64

In [11]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_customer['platform'].nunique())
sc_dim_customer['platform'].value_counts()

2

Brick & Mortar    150
E-Commerce         59
Name: platform, dtype: int64

In [12]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_customer['channel'].nunique())
sc_dim_customer['channel'].value_counts()

3

Retailer       164
Direct          40
Distributor      5
Name: channel, dtype: int64

In [13]:
# ensure datype 'int32' is apropriate by checking the range

print(sc_dim_customer['customer_code'].min())
print(sc_dim_customer['customer_code'].max())

70002017
90027207

In [14]:
# change datatypes

sc_dim_customer['customer'] = sc_dim_customer['customer'].astype('category')
sc_dim_customer['platform'] = sc_dim_customer['platform'].astype('category')
sc_dim_customer['market'] = sc_dim_customer['market'].astype('category')
sc_dim_customer['channel'] = sc_dim_customer['channel'].astype('category')
sc_dim_customer['customer_code'] = sc_dim_customer['customer_code'].astype('int32')

In [15]:
# check memory usage by column

sc_dim_customer.memory_usage(deep=True)

Index             132
customer         7419
market           3018
platform          455
channel           513
customer_code     836
dtype: int64

In [16]:
# check datatypes

sc_dim_customer.dtypes

customer         category
market           category
platform         category
channel          category
customer_code       int32
dtype: object

### sc_dim_market

In [17]:
sc_dim_market.head(10)

        market sub_zone region
0        China      ROA   APAC
1        India    India   APAC
2    Indonesia      ROA   APAC
3        Japan      ROA   APAC
4     Pakistan      ROA   APAC
5  Philiphines      ROA   APAC
6  South Korea      ROA   APAC
7    Australia      ANZ   APAC
8   Newzealand      ANZ   APAC
9   Bangladesh      ROA   APAC

In [18]:
# check memory usage by column

sc_dim_market.memory_usage(deep=True)

Index        132
market      1737
sub_zone    1619
region      1627
dtype: int64

In [19]:
# check datatypes

sc_dim_market.dtypes

market      object
sub_zone    object
region      object
dtype: object

In [20]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_market['market'].nunique())
sc_dim_market['market'].value_counts()

27

China          1
Norway         1
Mexico         1
Columbia       1
Chile          1
              ..
Philiphines    1
Pakistan       1
Japan          1
Indonesia      1
Brazil         1
Name: market, Length: 27, dtype: int64

In [21]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_market['sub_zone'].nunique())
sc_dim_market['sub_zone'].value_counts()

7

ROA      7
NE       7
SE       4
LATAM    4
ANZ      2
nan      2
India    1
Name: sub_zone, dtype: int64

In [22]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_market['region'].nunique())
sc_dim_market['region'].value_counts()

4

EU       11
APAC     10
LATAM     4
nan       2
Name: region, dtype: int64

In [23]:
# change datatypes

sc_dim_market['market'] = sc_dim_market['market'].astype('category')
sc_dim_market['sub_zone'] = sc_dim_market['sub_zone'].astype('category')
sc_dim_market['region'] = sc_dim_market['region'].astype('category')

In [24]:
# check memory usage by column

sc_dim_market.memory_usage(deep=True)

Index        132
market      2836
sub_zone     749
region       441
dtype: int64

In [25]:
# check datatypes

sc_dim_market.dtypes

market      category
sub_zone    category
region      category
dtype: object

### sc_dim_product

In [26]:
sc_dim_product.head(10)

,product_code,division,segment,category,product,variant
0,A0118150101,P & A,Peripherals,Internal HDD,AQ Dracula HDD – 3.5 Inch SATA 6 Gb/s 5400 RPM...,Standard
1,A0118150102,P & A,Peripherals,Internal HDD,AQ Dracula HDD – 3.5 Inch SATA 6 Gb/s 5400 RPM...,Plus
2,A0118150103,P & A,Peripherals,Internal HDD,AQ Dracula HDD – 3.5 Inch SATA 6 Gb/s 5400 RPM...,Premium
3,A0118150104,P & A,Peripherals,Internal HDD,AQ Dracula HDD – 3.5 Inch SATA 6 Gb/s 5400 RPM...,Premium Plus
4,A0219150201,P & A,Peripherals,Internal HDD,AQ WereWolf NAS Internal Hard Drive HDD – 8.89 cm,Standard
5,A0219150202,P & A,Peripherals,Internal HDD,AQ WereWolf NAS Internal Hard Drive HDD – 8.89 cm,Plus
6,A0220150203,P & A,Peripherals,Internal HDD,AQ WereWolf NAS Internal Hard Drive HDD – 8.89 cm,Premium
7,A0320150301,P & A,Peripherals,Internal HDD,AQ Zion Saga,Standard
8,A0321150302,P & A,Peripherals,Internal HDD,AQ Zion Saga,Plus
9,A0321150303,P & A,Peripherals,Internal HDD,AQ Zion Saga,Premium

In [27]:
# check memory usage by column

sc_dim_product.memory_usage(deep=True)

Index             132
product_code    26996
division        24131
segment         26364
category        27459
product         28750
variant         26317
dtype: int64

In [28]:
# check datatypes

sc_dim_product.dtypes

product_code    object
division        object
segment         object
category        object
product         object
variant         object
dtype: object

In [29]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_product['division'].nunique())
sc_dim_product['division'].value_counts()

3

P & A    200
PC       161
N & S     36
Name: division, dtype: int64

In [30]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_product['segment'].nunique())
sc_dim_product['segment'].value_counts()

6

Notebook       129
Accessories    116
Peripherals     84
Desktop         32
Storage         27
Networking       9
Name: segment, dtype: int64

In [31]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_product['category'].nunique())
sc_dim_product['category'].value_counts()

14

Personal Laptop                61
Mouse                          48
Keyboard                       48
Business Laptop                44
Gaming Laptop                  40
Graphic Card                   36
MotherBoard                    20
Batteries                      20
Processors                     18
Personal Desktop               16
External Solid State Drives    15
USB Flash Drives               12
Internal HDD                   10
Wi fi extender                  9
Name: category, dtype: int64

In [32]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_product['product'].nunique())
sc_dim_product['product'].value_counts()

73

AQ Elite                                           8
AQ Gamer 3                                         8
AQ Gen Y                                           8
AQ Gen X                                           8
AQ Digit                                           8
                                                  ..
AQ 5000 Series Ultron 8 5900X Desktop Processor    3
AQ Electron 5 3600 Desktop Processor               3
AQ Electron 4 3600 Desktop Processor               3
AQ Electron 3 3600 Desktop Processor               3
AQ Wi Power Dx3                                    3
Name: product, Length: 73, dtype: int64

In [33]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_dim_product['variant'].nunique())
sc_dim_product['variant'].value_counts()

27

Plus 2            35
Standard          33
Premium           33
Plus 1            31
Standard 1        23
                  ..
Plus Firey Red     5
Plus Cool Blue     5
Plus Black         5
Plus 1             4
Premium Plus       1
Name: variant, Length: 27, dtype: int64

In [34]:
# change datatypes

sc_dim_product['division'] = sc_dim_product['division'].astype('category')
sc_dim_product['segment'] = sc_dim_product['segment'].astype('category')
sc_dim_product['category'] = sc_dim_product['category'].astype('category')
sc_dim_product['product'] = sc_dim_product['product'].astype('category')
sc_dim_product['variant'] = sc_dim_product['variant'].astype('category')

In [35]:
# check memory usage by column

sc_dim_product.memory_usage(deep=True)

Index             132
product_code    26996
division          688
segment           965
category         1934
product          8076
variant          3296
dtype: int64

In [36]:
# check datatypes

sc_dim_product.dtypes

product_code      object
division        category
segment         category
category        category
product         category
variant         category
dtype: object

### sc_fact_forecast_monthly

In [37]:
sc_fact_forecast_monthly.head(10)

        date product_code customer_code  forecast_quantity  fiscal_year
0 2017-09-01  A6218160101      70008169                146         2018
1 2017-09-01  A6218160101      90008165                120         2018
2 2017-09-01  A6218160101      90008166                216         2018
3 2017-09-01  A6218160101      90008167                141         2018
4 2017-09-01  A6218160101      70008170                 85         2018
5 2017-09-01  A6218160101      70010047                  0         2018
6 2017-09-01  A6218160101      90027207                 14         2018
7 2017-09-01  A6218160101      70023031                 30         2018
8 2017-09-01  A6218160101      90023022                  8         2018
9 2017-09-01  A6218160101      90023025                 25         2018

In [38]:
# check memory usage by column

sc_fact_forecast_monthly.memory_usage(deep=True)

Index                      132
date                  15087528
product_code         128243988
customer_code        122586165
forecast_quantity     15087528
fiscal_year           15087528
dtype: int64

In [39]:
# check datatypes

sc_fact_forecast_monthly.dtypes

date                 datetime64[ns]
product_code                 object
customer_code                object
forecast_quantity             int64
fiscal_year                   int64
dtype: object

In [40]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_fact_forecast_monthly['product_code'].nunique())
sc_fact_forecast_monthly['product_code'].value_counts()

389

A2218150201    7982
A2118150103    7982
A2118150105    7982
A3019150206    7982
A3019150204    7982
               ...
A5318110102    1638
A5318110101    1635
A6018110101    1462
A6018110102    1454
A3718150104    1248
Name: product_code, Length: 389, dtype: int64

In [41]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_fact_forecast_monthly['customer_code'].nunique())
sc_fact_forecast_monthly['customer_code'].value_counts()

209

90002008    10402
80007195    10392
80007196    10392
90002009    10386
90002004    10375
            ...
90020101     6686
90020097     6678
90024184     6574
90024183     6570
90025209     6258
Name: customer_code, Length: 209, dtype: int64

In [42]:
# ensure datype 'int16' is apropriate by checking the range

print(sc_fact_forecast_monthly['forecast_quantity'].min())
print(sc_fact_forecast_monthly['forecast_quantity'].max())

0
7554

In [43]:
# change datatypes

sc_fact_forecast_monthly['customer_code'] = sc_fact_forecast_monthly['customer_code'].astype('int32')
sc_fact_forecast_monthly['forecast_quantity'] = sc_fact_forecast_monthly['forecast_quantity'].astype('int16')
sc_fact_forecast_monthly['fiscal_year'] = sc_fact_forecast_monthly['fiscal_year'].astype('int16')

In [44]:
# check memory usage by column

sc_fact_forecast_monthly.memory_usage(deep=True)

Index                      132
date                  15087528
product_code         128243988
customer_code          7543764
forecast_quantity      3771882
fiscal_year            3771882
dtype: int64

In [45]:
# check datatypes

sc_fact_forecast_monthly.dtypes

date                 datetime64[ns]
product_code                 object
customer_code                 int32
forecast_quantity             int16
fiscal_year                   int16
dtype: object

### sc_fact_sales_monthly

In [46]:
sc_fact_sales_monthly.head(10)

        date product_code customer_code  sold_quantity  fiscal_year
0 2017-09-01  A6218160101      70008169             81         2018
1 2017-09-01  A6218160101      90008165            157         2018
2 2017-09-01  A6218160101      90008166            126         2018
3 2017-09-01  A6218160101      90008167            160         2018
4 2017-09-01  A6218160101      70008170            120         2018
5 2017-09-01  A6218160101      90027207              9         2018
6 2017-09-01  A6218160101      70023031              9         2018
7 2017-09-01  A6218160101      90023022             24         2018
8 2017-09-01  A6218160101      90023025             22         2018
9 2017-09-01  A6218160101      90023026             37         2018

In [47]:
# check memory usage by column

sc_fact_sales_monthly.memory_usage(deep=True)

Index                 132
date             11405648
product_code     96948008
customer_code    92670890
sold_quantity    11405648
fiscal_year      11405648
dtype: int64

In [48]:
# check datatypes

sc_fact_sales_monthly.dtypes

date             datetime64[ns]
product_code             object
customer_code            object
sold_quantity             int64
fiscal_year               int64
dtype: object

In [49]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_fact_sales_monthly['product_code'].nunique())
sc_fact_sales_monthly['product_code'].value_counts()

389

A2118150103    6729
A2218150201    6728
A2219150203    6726
A2118150104    6725
A2118150105    6724
               ...
A2821150804     627
A2821150805     627
A2821150806     627
A1521150603     627
A4821110808     627
Name: product_code, Length: 389, dtype: int64

In [50]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_fact_sales_monthly['customer_code'].nunique())
sc_fact_sales_monthly['customer_code'].value_counts()

209

80007196    8295
90002008    8289
80007195    8287
90002009    8265
70002018    8261
            ...
90020097    4328
90020101    4322
90020099    4312
90024183    4287
90025209    3782
Name: customer_code, Length: 209, dtype: int64

In [51]:
# ensure datype 'int16' is apropriate by checking the range

print(sc_fact_sales_monthly['sold_quantity'].min())
print(sc_fact_sales_monthly['sold_quantity'].max())

0
5832

In [52]:
# change datatypes

sc_fact_sales_monthly['customer_code'] = sc_fact_sales_monthly['customer_code'].astype('int32')
sc_fact_sales_monthly['sold_quantity'] = sc_fact_sales_monthly['sold_quantity'].astype('int16')
sc_fact_sales_monthly['fiscal_year'] = sc_fact_sales_monthly['fiscal_year'].astype('int16')

In [53]:
# check memory usage by column

sc_fact_sales_monthly.memory_usage(deep=True)

Index                 132
date             11405648
product_code     96948008
customer_code     5702824
sold_quantity     2851412
fiscal_year       2851412
dtype: int64

In [54]:
# check datatypes

sc_fact_sales_monthly.dtypes

date             datetime64[ns]
product_code             object
customer_code             int32
sold_quantity             int16
fiscal_year               int16
dtype: object

### sc_freight_cost

In [55]:
sc_freight_cost.head(10)

       market  fiscal_year   freight_pct other_cost_pct
0   Australia         2018  0.0188000000   0.0050000000
1     Austria         2018  0.0272000000   0.0053000000
2  Bangladesh         2018  0.0219000000   0.0058000000
3      Brazil         2018  0.0239000000   0.0033000000
4      Canada         2018  0.0264000000   0.0054000000
5       Chile         2018  0.0267000000   0.0022000000
6       China         2018  0.0204000000   0.0043000000
7    Columbia         2018  0.0216000000   0.0028000000
8      France         2018  0.0190000000   0.0038000000
9     Germany         2018  0.0301000000   0.0061000000

In [56]:
# check memory usage by column

sc_freight_cost.memory_usage(deep=True)

Index               132
market             8685
fiscal_year        1080
freight_pct       15120
other_cost_pct    15120
dtype: int64

In [57]:
# check datatypes

sc_freight_cost.dtypes

market            object
fiscal_year        int64
freight_pct       object
other_cost_pct    object
dtype: object

In [58]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_freight_cost['market'].nunique())
sc_freight_cost['market'].value_counts()

27

Australia         5
Mexico            5
United Kingdom    5
Sweden            5
Spain             5
                 ..
Chile             5
Canada            5
Brazil            5
Bangladesh        5
USA               5
Name: market, Length: 27, dtype: int64

In [59]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_freight_cost['fiscal_year'].nunique())
sc_freight_cost['fiscal_year'].value_counts()

5

2018    27
2019    27
2020    27
2021    27
2022    27
Name: fiscal_year, dtype: int64

In [60]:
# ensure datype 'int16' is apropriate by checking the range

print(sc_freight_cost['freight_pct'].min())
print(sc_freight_cost['freight_pct'].max())

0.0187000000
0.0312000000

In [61]:
# ensure datype 'int16' is apropriate by checking the range

print(sc_freight_cost['other_cost_pct'].min())
print(sc_freight_cost['other_cost_pct'].max())

0.0022000000
0.0061000000

In [62]:
# change datatypes

sc_freight_cost['market'] = sc_freight_cost['market'].astype('category')
sc_freight_cost['fiscal_year'] = sc_freight_cost['fiscal_year'].astype('int16')
sc_freight_cost['freight_pct'] = sc_freight_cost['freight_pct'].astype('float64')
sc_freight_cost['other_cost_pct'] = sc_freight_cost['other_cost_pct'].astype('float64')

In [63]:
# check memory usage by column

sc_freight_cost.memory_usage(deep=True)

Index              132
market            2944
fiscal_year        270
freight_pct       1080
other_cost_pct    1080
dtype: int64

In [64]:
# check datatypes

sc_freight_cost.dtypes

market            category
fiscal_year          int16
freight_pct        float64
other_cost_pct     float64
dtype: object

### sc_gross_price

In [65]:
sc_gross_price.head(10)

  product_code  fiscal_year    gross_price
0  A0118150101         2018  15.3952000000
1  A0118150101         2019  14.4392000000
2  A0118150101         2020  16.2323000000
3  A0118150101         2021  19.0573000000
4  A0118150102         2018  19.5875000000
5  A0118150102         2019  18.5595000000
6  A0118150102         2020  19.8577000000
7  A0118150102         2021  21.4565000000
8  A0118150103         2018  19.3630000000
9  A0118150103         2019  19.3442000000

In [66]:
# check memory usage by column

sc_gross_price.memory_usage(deep=True)

Index              132
product_code     81396
fiscal_year       9576
gross_price     134064
dtype: int64

In [67]:
# check datatypes

sc_gross_price.dtypes

product_code    object
fiscal_year      int64
gross_price     object
dtype: object

In [68]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_gross_price['product_code'].nunique())
sc_gross_price['product_code'].value_counts()

397

A2918150105    5
A1219150301    5
A3718150102    5
A3718150103    5
A3718150105    5
              ..
A5820110105    1
A2821150802    1
A2821150803    1
A2821150804    1
A4821110808    1
Name: product_code, Length: 397, dtype: int64

In [69]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_gross_price['fiscal_year'].nunique())
sc_gross_price['fiscal_year'].value_counts()

5

2022    353
2021    338
2020    247
2019    172
2018     87
Name: fiscal_year, dtype: int64

In [70]:
# ensure datype 'int16' is apropriate by checking the range

print(sc_gross_price['gross_price'].min())
print(sc_gross_price['gross_price'].max())

2.2831000000
890.1364000000

In [71]:
# change datatypes

sc_gross_price['fiscal_year'] = sc_gross_price['fiscal_year'].astype('int16')
sc_gross_price['gross_price'] = sc_gross_price['gross_price'].astype('float64')

In [72]:
# check memory usage by column

sc_gross_price.memory_usage(deep=True)

Index             132
product_code    81396
fiscal_year      2394
gross_price      9576
dtype: int64

In [73]:
# check datatypes

sc_gross_price.dtypes

product_code     object
fiscal_year       int16
gross_price     float64
dtype: object

### sc_manufacturing_cost

In [74]:
sc_manufacturing_cost.head(10)

  product_code  cost_year manufacturing_cost
0  A0118150101       2018       4.6190000000
1  A0118150101       2019       4.2033000000
2  A0118150101       2020       5.0207000000
3  A0118150101       2021       5.5172000000
4  A0118150102       2018       5.6036000000
5  A0118150102       2019       5.3235000000
6  A0118150102       2020       5.7180000000
7  A0118150102       2021       6.2835000000
8  A0118150103       2018       5.9469000000
9  A0118150103       2019       5.5306000000

In [75]:
# check memory usage by column

sc_manufacturing_cost.memory_usage(deep=True)

Index                    132
product_code           81396
cost_year               9576
manufacturing_cost    134064
dtype: int64

In [76]:
# check datatypes

sc_manufacturing_cost.dtypes

product_code          object
cost_year              int64
manufacturing_cost    object
dtype: object

In [77]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_manufacturing_cost['product_code'].nunique())
sc_manufacturing_cost['product_code'].value_counts()

397

A2918150105    5
A1219150301    5
A3718150102    5
A3718150103    5
A3718150105    5
              ..
A5820110105    1
A2821150802    1
A2821150803    1
A2821150804    1
A4821110808    1
Name: product_code, Length: 397, dtype: int64

In [78]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_manufacturing_cost['cost_year'].nunique())
sc_manufacturing_cost['cost_year'].value_counts()

5

2022    353
2021    338
2020    247
2019    172
2018     87
Name: cost_year, dtype: int64

In [79]:
# ensure datype 'int16' is apropriate by checking the range

print(sc_manufacturing_cost['manufacturing_cost'].min())
print(sc_manufacturing_cost['manufacturing_cost'].max())

0.7064000000
263.4207000000

In [80]:
# change datatypes

sc_manufacturing_cost['cost_year'] = sc_manufacturing_cost['cost_year'].astype('int16')
sc_manufacturing_cost['manufacturing_cost'] = sc_manufacturing_cost['manufacturing_cost'].astype('float64')

In [81]:
# check memory usage by column

sc_manufacturing_cost.memory_usage(deep=True)

Index                   132
product_code          81396
cost_year              2394
manufacturing_cost     9576
dtype: int64

In [82]:
# check datatypes

sc_manufacturing_cost.dtypes

product_code           object
cost_year               int16
manufacturing_cost    float64
dtype: object

### sc_post_invoice_deductions

In [83]:
sc_post_invoice_deductions.head(10)

,customer_code,product_code,date,discounts_pct,other_deductions_pct,fiscal_year
0,70002017,A0118150101,2017-09-01,0.2659568373,0.0718706275,2018
1,70002017,A0118150101,2017-10-01,0.3089921425,0.0976271962,2018
2,70002017,A0118150101,2017-11-01,0.3312678749,0.0752107404,2018
3,70002017,A0118150101,2018-01-01,0.2957916324,0.0720356315,2018
4,70002017,A0118150101,2018-02-01,0.3207865527,0.0793345762,2018
5,70002017,A0118150101,2018-03-01,0.2634826863,0.1007454661,2018
6,70002017,A0118150101,2018-05-01,0.2231491730,0.0819604740,2018
7,70002017,A0118150101,2018-06-01,0.3019501683,0.0791333546,2018
8,70002017,A0118150101,2018-07-01,0.3123406450,0.0929448730,2018
9,70002017,A0118150102,2017-09-01,0.2302247453,0.0868821520,2018

In [84]:
# check memory usage by column

sc_post_invoice_deductions.memory_usage(deep=True)

Index                         132
customer_code           134099940
product_code            140289168
date                     82523040
discounts_pct           231064512
other_deductions_pct    231064512
fiscal_year              16504608
dtype: int64

In [85]:
# check datatypes

sc_post_invoice_deductions.dtypes

customer_code           object
product_code            object
date                    object
discounts_pct           object
other_deductions_pct    object
fiscal_year              int64
dtype: object

In [86]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_post_invoice_deductions['customer_code'].nunique())
sc_post_invoice_deductions['customer_code'].value_counts()

209

70002017    10638
90011188    10638
90013123    10638
90013122    10638
90013121    10638
            ...
90009129     8316
90004061     8316
70009133     8316
70004069     8316
90025209     8316
Name: customer_code, Length: 209, dtype: int64

In [87]:
# ensure datatype 'category' is apropriate by counting unique values

print(sc_post_invoice_deductions['product_code'].nunique())
sc_post_invoice_deductions['product_code'].value_counts()

389

A3019150205    8065
A3019150204    8065
A1219150301    8065
A0418150104    8065
A0418150105    8065
               ...
A3621150803    1881
A3621150804    1881
A3621150805    1881
A3621150806    1881
A6621160503    1881
Name: product_code, Length: 389, dtype: int64

In [88]:
# ensure datype 'int16' is apropriate by checking the range

print(sc_post_invoice_deductions['discounts_pct'].min())
print(sc_post_invoice_deductions['discounts_pct'].max())

0E-10
0.3597894498

In [89]:
# ensure datype 'int16' is apropriate by checking the range

print(sc_post_invoice_deductions['other_deductions_pct'].min())
print(sc_post_invoice_deductions['other_deductions_pct'].max())

0E-10
0.2076698904

In [90]:
# change datatypes

sc_post_invoice_deductions['date'] = sc_post_invoice_deductions['date'].astype('datetime64')
sc_post_invoice_deductions['customer_code'] = sc_post_invoice_deductions['customer_code'].astype('int32')
sc_post_invoice_deductions['discounts_pct'] = sc_post_invoice_deductions['discounts_pct'].astype('float64')
sc_post_invoice_deductions['other_deductions_pct'] = sc_post_invoice_deductions['other_deductions_pct'].astype('float64')
sc_post_invoice_deductions['fiscal_year'] = sc_post_invoice_deductions['fiscal_year'].astype('int16')

In [91]:
# check memory usage by column

sc_post_invoice_deductions.memory_usage(deep=True)

Index                         132
customer_code             8252304
product_code            140289168
date                     16504608
discounts_pct            16504608
other_deductions_pct     16504608
fiscal_year               4126152
dtype: int64

In [92]:
# check datatypes

sc_post_invoice_deductions.dtypes

customer_code                    int32
product_code                    object
date                    datetime64[ns]
discounts_pct                  float64
other_deductions_pct           float64
fiscal_year                      int16
dtype: object

### sc_pre_invoice_deductions

In [93]:
sc_pre_invoice_deductions.head(10)

  customer_code  fiscal_year pre_invoice_discount_pct
0      70002017         2018             0.0824421975
1      70002017         2019             0.0776586135
2      70002017         2020             0.0734578107
3      70002017         2021             0.0702694757
4      70002017         2022             0.1056778298
5      70002018         2018             0.2955677085
6      70002018         2019             0.2576548034
7      70002018         2020             0.2254809791
8      70002018         2021             0.2061071236
9      70002018         2022             0.2930927104

In [94]:
# check memory usage by column

sc_pre_invoice_deductions.memory_usage(deep=True)

Index                          132
customer_code                67925
fiscal_year                   8360
pre_invoice_discount_pct    117040
dtype: int64

In [95]:
# check datatypes

sc_pre_invoice_deductions.dtypes

customer_code               object
fiscal_year                  int64
pre_invoice_discount_pct    object
dtype: object

In [96]:
# ensure datype 'int16' is apropriate by checking the range

print(sc_pre_invoice_deductions['pre_invoice_discount_pct'].min())
print(sc_pre_invoice_deductions['pre_invoice_discount_pct'].max())

0.0510158648
0.3099080202

In [97]:
# change datatypes

sc_pre_invoice_deductions['customer_code'] = sc_pre_invoice_deductions['customer_code'].astype('int32')
sc_pre_invoice_deductions['fiscal_year'] = sc_pre_invoice_deductions['fiscal_year'].astype('int16')
sc_pre_invoice_deductions['pre_invoice_discount_pct'] = sc_pre_invoice_deductions['pre_invoice_discount_pct'].astype('float64')

In [98]:
# check memory usage by column

sc_pre_invoice_deductions.memory_usage(deep=True)

Index                        132
customer_code               4180
fiscal_year                 2090
pre_invoice_discount_pct    8360
dtype: int64

In [99]:
# check datatypes

sc_pre_invoice_deductions.dtypes

customer_code                 int32
fiscal_year                   int16
pre_invoice_discount_pct    float64
dtype: object

## Create calculated columns: gross_sales, net_invoice_sales, net_sales, cost_of_goods, gross_margin, net_profit

In [100]:
sc_dataframes.keys()

dict_keys(['dim_customer', 'dim_market', 'dim_product', 'fact_forecast_monthly', 'fact_sales_monthly', 'freight_cost', 'gross_price', 'manufacturing_cost', 'post_invoice_deductions', 'pre_invoice_deductions'])

### gross_sales

In [101]:
sc_fact_sales_monthly.head(5)

        date product_code  customer_code  sold_quantity  fiscal_year
0 2017-09-01  A6218160101       70008169             81         2018
1 2017-09-01  A6218160101       90008165            157         2018
2 2017-09-01  A6218160101       90008166            126         2018
3 2017-09-01  A6218160101       90008167            160         2018
4 2017-09-01  A6218160101       70008170            120         2018

In [102]:
sc_gross_price.head(5)

  product_code  fiscal_year  gross_price
0  A0118150101         2018      15.3952
1  A0118150101         2019      14.4392
2  A0118150101         2020      16.2323
3  A0118150101         2021      19.0573
4  A0118150102         2018      19.5875

In [103]:
# merge necessary tables

merge = pd.merge(sc_fact_sales_monthly, sc_gross_price, how='left', on=['product_code', 'fiscal_year'])

merge.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_price
0,2017-09-01,A6218160101,70008169,81,2018,13.2009
1,2017-09-01,A6218160101,90008165,157,2018,13.2009
2,2017-09-01,A6218160101,90008166,126,2018,13.2009
3,2017-09-01,A6218160101,90008167,160,2018,13.2009
4,2017-09-01,A6218160101,70008170,120,2018,13.2009

In [104]:
# calculate gross_sales

merge['gross_sales'] = merge['gross_price'] * merge['sold_quantity']

merge.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_price,gross_sales
0,2017-09-01,A6218160101,70008169,81,2018,13.2009,1069.2729
1,2017-09-01,A6218160101,90008165,157,2018,13.2009,2072.5413
2,2017-09-01,A6218160101,90008166,126,2018,13.2009,1663.3134
3,2017-09-01,A6218160101,90008167,160,2018,13.2009,2112.1440
4,2017-09-01,A6218160101,70008170,120,2018,13.2009,1584.1080

In [105]:
# save gross sales into sc_fact_sales_monthly

sc_fact_sales_monthly = merge.drop('gross_price', axis=1).copy()

sc_fact_sales_monthly.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080

### net_invoice_sales

In [106]:
sc_fact_sales_monthly.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080

In [107]:
sc_pre_invoice_deductions.head(5)

   customer_code  fiscal_year  pre_invoice_discount_pct
0       70002017         2018                  0.082442
1       70002017         2019                  0.077659
2       70002017         2020                  0.073458
3       70002017         2021                  0.070269
4       70002017         2022                  0.105678

In [108]:
# merge necessary tables

merge = pd.merge(sc_fact_sales_monthly, sc_pre_invoice_deductions, how='left', on=['customer_code', 'fiscal_year'])

merge.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,pre_invoice_discount_pct
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,0.095349
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,0.284878
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,0.288379
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,0.194697
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,0.189642

In [109]:
# calculate net_invoice_sales

merge['pre_invoice_discount_amount'] = merge['gross_sales'] * merge['pre_invoice_discount_pct']
merge['net_invoice_sales'] = merge['gross_sales'] - merge['pre_invoice_discount_amount']

merge.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,pre_invoice_discount_pct,pre_invoice_discount_amount,net_invoice_sales
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,0.095349,101.953761,967.319139
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,0.284878,590.422151,1482.119149
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,0.288379,479.664169,1183.649231
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,0.194697,411.229072,1700.914928
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,0.189642,300.414113,1283.693887

In [110]:
# save net_invoice_sales into sc_fact_sales_monthly

sc_fact_sales_monthly = merge.drop(['pre_invoice_discount_pct', 'pre_invoice_discount_amount'], axis=1).copy()

sc_fact_sales_monthly.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887

### net_sales

In [111]:
sc_fact_sales_monthly.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887

In [112]:
sc_post_invoice_deductions.head(5)

,customer_code,product_code,date,discounts_pct,other_deductions_pct,fiscal_year
0,70002017,A0118150101,2017-09-01,0.265957,0.071871,2018
1,70002017,A0118150101,2017-10-01,0.308992,0.097627,2018
2,70002017,A0118150101,2017-11-01,0.331268,0.075211,2018
3,70002017,A0118150101,2018-01-01,0.295792,0.072036,2018
4,70002017,A0118150101,2018-02-01,0.320787,0.079335,2018

In [113]:
# merge necessary tables

merge = pd.merge(sc_fact_sales_monthly, sc_post_invoice_deductions, how='left', on=['customer_code', 'product_code', 'date', 'fiscal_year'])

merge.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales,discounts_pct,other_deductions_pct
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139,0.169477,0.104849
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149,0.178271,0.116888
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231,0.209655,0.112575
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928,0.202509,0.130852
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887,0.192469,0.119544

In [114]:
# calculate net_sales

merge['discounts_amount'] = merge['gross_sales'] * merge['discounts_pct']
merge['other_deductions_amount'] = merge['gross_sales'] * merge['other_deductions_pct']
merge['net_sales'] = merge['net_invoice_sales'] - (merge['discounts_amount'] + merge['other_deductions_amount'])

merge.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales,discounts_pct,other_deductions_pct,discounts_amount,other_deductions_amount,net_sales
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139,0.169477,0.104849,181.217277,112.111948,673.989914
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149,0.178271,0.116888,369.474811,242.254459,870.389878
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231,0.209655,0.112575,348.721974,187.246853,647.680403
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928,0.202509,0.130852,427.728597,276.377552,996.808779
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887,0.192469,0.119544,304.891535,189.371165,789.431187

In [115]:
# save net_sales into sc_fact_sales_monthly

sc_fact_sales_monthly = merge.drop(['discounts_pct', 'other_deductions_pct', 'discounts_amount', 'other_deductions_amount'], axis=1).copy()

sc_fact_sales_monthly.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales,net_sales
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139,673.989914
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149,870.389878
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231,647.680403
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928,996.808779
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887,789.431187

### cost_of_goods, gross_margin and net_profit

In [116]:
sc_fact_sales_monthly.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales,net_sales
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139,673.989914
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149,870.389878
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231,647.680403
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928,996.808779
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887,789.431187

In [117]:
sc_manufacturing_cost.head(5)

  product_code  cost_year  manufacturing_cost
0  A0118150101       2018              4.6190
1  A0118150101       2019              4.2033
2  A0118150101       2020              5.0207
3  A0118150101       2021              5.5172
4  A0118150102       2018              5.6036

In [118]:
sc_dim_customer.head(5)

             customer market        platform   channel  customer_code
0    Electricalsocity  India  Brick & Mortar  Retailer       90002012
1  Electricalslytical  India  Brick & Mortar  Retailer       90002013
2                Ebay  India      E-Commerce  Retailer       90002010
3     Atliq Exclusive  India  Brick & Mortar  Retailer       90002011
4          Expression  India  Brick & Mortar  Retailer       90002014

In [119]:
sc_freight_cost.head(5)

       market  fiscal_year  freight_pct  other_cost_pct
0   Australia         2018       0.0188          0.0050
1     Austria         2018       0.0272          0.0053
2  Bangladesh         2018       0.0219          0.0058
3      Brazil         2018       0.0239          0.0033
4      Canada         2018       0.0264          0.0054

In [120]:
# merge necessary tables

merge = pd.merge(sc_fact_sales_monthly, sc_manufacturing_cost, how='left', left_on=['product_code', 'fiscal_year'], right_on=['product_code', 'cost_year'])

merge.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales,net_sales,cost_year,manufacturing_cost
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139,673.989914,2018,3.8917
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149,870.389878,2018,3.8917
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231,647.680403,2018,3.8917
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928,996.808779,2018,3.8917
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887,789.431187,2018,3.8917

In [121]:
# calculate gross_manufacturling_costs

merge['gross_manufacturling_costs'] = merge['sold_quantity'] * merge['manufacturing_cost']

merge.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales,net_sales,cost_year,manufacturing_cost,gross_manufacturling_costs
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139,673.989914,2018,3.8917,315.2277
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149,870.389878,2018,3.8917,610.9969
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231,647.680403,2018,3.8917,490.3542
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928,996.808779,2018,3.8917,622.6720
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887,789.431187,2018,3.8917,467.0040

In [122]:
# merge necessary tables

merge = pd.merge(merge, sc_dim_customer, how='left', on='customer_code')
merge = pd.merge(merge, sc_freight_cost, how='left', on=['market', 'fiscal_year'])

merge.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales,net_sales,cost_year,manufacturing_cost,gross_manufacturling_costs,customer,market,platform,channel,freight_pct,other_cost_pct
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139,673.989914,2018,3.8917,315.2277,AltiQ Exclusive,Australia,Brick & Mortar,Direct,0.0188,0.005
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149,870.389878,2018,3.8917,610.9969,Forward Stores,Australia,Brick & Mortar,Retailer,0.0188,0.005
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231,647.680403,2018,3.8917,490.3542,Sound,Australia,Brick & Mortar,Retailer,0.0188,0.005
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928,996.808779,2018,3.8917,622.6720,Electricalsocity,Australia,Brick & Mortar,Retailer,0.0188,0.005
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887,789.431187,2018,3.8917,467.0040,Atliq e Store,Australia,E-Commerce,Direct,0.0188,0.005

In [123]:
# calculate gross_freight_costs

merge['freight_amount'] = merge['gross_sales'] * merge['freight_pct']
merge['other_amount'] = merge['gross_sales'] * merge['other_cost_pct']

merge.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales,net_sales,cost_year,manufacturing_cost,gross_manufacturling_costs,customer,market,platform,channel,freight_pct,other_cost_pct,freight_amount,other_amount
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139,673.989914,2018,3.8917,315.2277,AltiQ Exclusive,Australia,Brick & Mortar,Direct,0.0188,0.005,20.102331,5.346365
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149,870.389878,2018,3.8917,610.9969,Forward Stores,Australia,Brick & Mortar,Retailer,0.0188,0.005,38.963776,10.362707
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231,647.680403,2018,3.8917,490.3542,Sound,Australia,Brick & Mortar,Retailer,0.0188,0.005,31.270292,8.316567
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928,996.808779,2018,3.8917,622.6720,Electricalsocity,Australia,Brick & Mortar,Retailer,0.0188,0.005,39.708307,10.560720
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887,789.431187,2018,3.8917,467.0040,Atliq e Store,Australia,E-Commerce,Direct,0.0188,0.005,29.781230,7.920540

In [124]:
# calculate cost_of_goods

merge['cost_of_goods'] = merge['gross_manufacturling_costs'] + merge['freight_amount'] + merge['other_amount']

# calculate gross_margin

merge['gross_margin_pct'] = ((merge['net_sales'] - merge['cost_of_goods']) / merge['net_sales']) * 100

# calculate net_profit

merge['net_profit'] = merge['net_sales'] - merge['cost_of_goods']

merge.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales,net_sales,cost_year,manufacturing_cost,...,market,platform,channel,freight_pct,other_cost_pct,freight_amount,other_amount,cost_of_goods,gross_margin_pct,net_profit
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139,673.989914,2018,3.8917,...,Australia,Brick & Mortar,Direct,0.0188,0.005,20.102331,5.346365,340.676395,49.453784,333.313519
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149,870.389878,2018,3.8917,...,Australia,Brick & Mortar,Retailer,0.0188,0.005,38.963776,10.362707,660.323383,24.134759,210.066495
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231,647.680403,2018,3.8917,...,Australia,Brick & Mortar,Retailer,0.0188,0.005,31.270292,8.316567,529.941059,18.178618,117.739344
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928,996.808779,2018,3.8917,...,Australia,Brick & Mortar,Retailer,0.0188,0.005,39.708307,10.560720,672.941027,32.490459,323.867752
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887,789.431187,2018,3.8917,...,Australia,E-Commerce,Direct,0.0188,0.005,29.781230,7.920540,504.705770,36.067161,284.725417

In [125]:
sc_fact_sales_monthly = merge.drop(['cost_year', 'manufacturing_cost', 'gross_manufacturling_costs', 'customer', 'market', 'platform', 'channel', 'freight_pct', 'other_cost_pct', 'freight_amount', 'other_amount'], axis=1).copy()

sc_fact_sales_monthly.head(5)

,date,product_code,customer_code,sold_quantity,fiscal_year,gross_sales,net_invoice_sales,net_sales,cost_of_goods,gross_margin_pct,net_profit
0,2017-09-01,A6218160101,70008169,81,2018,1069.2729,967.319139,673.989914,340.676395,49.453784,333.313519
1,2017-09-01,A6218160101,90008165,157,2018,2072.5413,1482.119149,870.389878,660.323383,24.134759,210.066495
2,2017-09-01,A6218160101,90008166,126,2018,1663.3134,1183.649231,647.680403,529.941059,18.178618,117.739344
3,2017-09-01,A6218160101,90008167,160,2018,2112.1440,1700.914928,996.808779,672.941027,32.490459,323.867752
4,2017-09-01,A6218160101,70008170,120,2018,1584.1080,1283.693887,789.431187,504.705770,36.067161,284.725417

## Split dataframe into two to save on file size

In [126]:
sc_post_invoice_deductions['date'].dt.year.value_counts()

2021    635151
2020    516648
2022    432630
2019    317775
2018    134280
2017     26592
Name: date, dtype: int64

In [127]:
# split dataframe into two to save on file size

print(sc_post_invoice_deductions[sc_post_invoice_deductions['date'].dt.year <= 2020]['date'].dt.year.value_counts().sum())
print(sc_post_invoice_deductions[sc_post_invoice_deductions['date'].dt.year > 2020]['date'].dt.year.value_counts().sum())

995295
1067781

In [128]:
sc_post_invoice_deductions_18_20 = sc_post_invoice_deductions[sc_post_invoice_deductions['date'].dt.year <= 2020].reset_index().drop('index', axis=1)
sc_post_invoice_deductions_21_22 = sc_post_invoice_deductions[sc_post_invoice_deductions['date'].dt.year > 2020].reset_index().drop('index', axis=1)

In [129]:
# check memory usage by column

sc_post_invoice_deductions_21_22.memory_usage(deep=True)

Index                        132
customer_code            4271124
product_code            72609108
date                     8542248
discounts_pct            8542248
other_deductions_pct     8542248
fiscal_year              2135562
dtype: int64

In [130]:
# check memory usage by column

sc_post_invoice_deductions_18_20.memory_usage(deep=True)

Index                        132
customer_code            3981180
product_code            67680060
date                     7962360
discounts_pct            7962360
other_deductions_pct     7962360
fiscal_year              1990590
dtype: int64

## Reorganize columns

In [131]:
# Move customer_code to first column

sc_dim_customer = sc_dim_customer[['customer_code', 'customer', 'market', 'platform', 'channel']]

# Move product to second column

sc_dim_product = sc_dim_product[['product_code', 'product', 'division', 'segment', 'category', 'variant']]

# Move fiscal year nextto date

sc_fact_forecast_monthly = sc_fact_forecast_monthly[['date', 'fiscal_year', 'product_code', 'customer_code', 'forecast_quantity']]
sc_fact_sales_monthly = sc_fact_sales_monthly[['date', 'fiscal_year', 'product_code', 'customer_code', 'sold_quantity', 'gross_sales', 'net_invoice_sales', 'net_sales', 'cost_of_goods', 'gross_margin_pct', 'net_profit']]
sc_post_invoice_deductions_18_20 = sc_post_invoice_deductions_18_20[['date', 'fiscal_year', 'customer_code', 'product_code', 'discounts_pct', 'other_deductions_pct']]
sc_post_invoice_deductions_21_22 = sc_post_invoice_deductions_21_22[['date', 'fiscal_year', 'customer_code', 'product_code', 'discounts_pct', 'other_deductions_pct']]

## Save dataframes

In [132]:
# Save dtaframes into a new dictionary

sc_dataframes_cleaned = {
    'sc_dim_customer': sc_dim_customer,
    'sc_dim_market': sc_dim_market,
    'sc_dim_product': sc_dim_product,
    'sc_fact_forecast_monthly': sc_fact_forecast_monthly,
    'sc_fact_sales_monthly': sc_fact_sales_monthly,
    'sc_freight_cost': sc_freight_cost,
    'sc_gross_price': sc_gross_price,
    'sc_manufacturing_cost': sc_manufacturing_cost,
    'sc_post_invoice_deductions_18_20': sc_post_invoice_deductions_18_20,
    'sc_post_invoice_deductions_21_22': sc_post_invoice_deductions_21_22,
    'sc_pre_invoice_deductions': sc_pre_invoice_deductions,
}

%store sc_dataframes_cleaned

Stored 'sc_dataframes_cleaned' (dict)